<h1>UnitE</h1>
<p>UnitE は、ファッションを楽しみたい方のコーディネート参考サイト。</p>
<p>お洒落はしたいけど上手くコーディネートが出来ない</p>
<p>自分にはファッションセンスがなく、毎日着る服に悩む事が多い</p>
<p>ファッション雑誌を買うほど、服には興味がないし、ネットで参考になるサイトはないか...、</p>
<p>そんな悩みを抱えてる方々に毎日のコーディネートのヒントとなるように</p>
<p>スタイリストやショップ店員が皆さんのお手本となるファッションを見つける事が出来るアプリです。</p>
<%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>